.photos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  margin: 16px;
}

.photo-wrap {
  width: 100%;
}

.heart-border {
  opacity: 0.8;
  position: relative;
  top: 33px;
  left: 60px;
  z-index: 1;
  transition: all .5s ease-in-out;
}

.heart-fill {
  position: relative;
  top: 33px;
  left: 84px;
  transition: all .5s ease-in-out;
}

.photo {
  width: 100%;
}

.hide {
  opacity: 0;
}

@media only screen and (min-width: 320px) {
  .heart-border {
    left: 40px;
  }

  .heart-fill {
    left: 64px;
  }
}

@media only screen and (min-width: 360px) {
  .heart-border {
    left: 52px;
  }

  .heart-fill {
    left: 76px;
  }
}

@media only screen and (min-width: 768px) {
  .heart-border {
    top: 50px;
    left: 240px;
  }

  .heart-fill {
    top: 50px;
    left: 264px;  }

  .heart-border:hover, .heart-fill:hover {
    transform: scale(2.1)
  }
  
}