.photos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  margin: 16px;
}

.photo-wrap {
  width: 100%;
}

.heart-border {
  opacity: 0.8;
  position: relative;
  top: 12%;
  left: 33%;
  z-index: 1;
  transition: all .5s ease-in-out;
}

.heart-fill {
  position: relative;
  top: 12%;
  left: 46%;
  transition: all .4s ease-in-out;
}


.photo {
  width: 100%;
}

.hide {
  opacity: 0;
}

@media only screen and (min-width: 768px) {
  .heart-border:hover, .heart-fill:hover {
    transform: scale(2.1)
  }
  
}