body {
  background-color: #2C213D;
  color: #E4FDE1;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}


@media only screen and (min-width: 768px) {
  .App {
    flex-direction: row;
  }
}
